<div class='illustration-wrapper'>
    <div class="hotspot-wrapper">
        <a class='hotspot one' data-template="one">
            <div class="ripples"></div>
        </a>
        <a class='hotspot two' data-template="two">
            <div class="ripples"></div>
        </a>
        <a class='hotspot three' data-template="three">
            <div class="ripples"></div>
        </a>
        <a class='hotspot four' data-template="four">
            <div class="ripples"></div>
        </a>
        <a class='hotspot five' data-template="five">
            <div class="ripples"></div>
        </a>
        <a class='hotspot six' data-template="six">
            <div class="ripples"></div>
        </a>
        <a class='hotspot seven' data-template="seven">
            <div class="ripples"></div>
        </a>
        <a class='hotspot eight' data-template="eight">
            <div class="ripples"></div>
        </a>
        <a class='hotspot nine' data-template="nine">
            <div class="ripples"></div>
        </a>
        <a class='hotspot ten' data-template="ten">
            <div class="ripples"></div>
        </a>
        <img src="https://i.imgur.com/FemsIYz.jpg">
    </div>
</div>

<div style="display: none;">
    <div id="one">
        <h2>Stretch Knit Top Cover</h2>
        <p>A thin stretch-knit fabric that expands and contracts to match your shape allowing you to feel the total body
            conformity of the mattress. It is also easily removable and washable to ensure this is the most
            hypo-allergenic mattress you can own.</p>
    </div>
    <div id="two">
        <h2>Memory Foam Assembly</h2>
        <p>This 1” thick free-floating layer matches the shape of your body while adding a little firmness.</p>
        <span>Included with Firm models only.</span>
    </div>
    <div id="three">
        <h2>Waveless Water Mattress </h2>
        <p>With modern materials, this mattress is more durable than previous mattresses and the oversized mattress will
            be loose so when you lie down, the surface will be able to totally conform to the shape of your body better
            than any mattress in the market.</p>
        <p>The mattresses internal support material greatly reduces the wave motion experienced in older generation
            waterbeds which allows for a more stable night sleep.</p>
    </div>
    <div id="four">
        <h2>Thermal Divider</h2>
        <p>This flexible vertical panel serves as insulation between the dual mattresses to ensure zero heat transfer.
        </p>
        <span>Only included in King Dual models</span>
    </div>
    <div id="five">
        <h2>Impermeable Liner</h2>
        <p>This easy-to-clean material prevents any spilled water from escaping and prevents dust mites and bedbugs from
            moving into the Afloat interior, ensuring a hygienic sleep.</p>
    </div>
    <div id="six">
        <h2>Perimeter Comfort Rails</h2>
        <p>Provides a comfortable sitting edge. Connector system locks rails into decking to prevent the rails from
            changing shape over the years while also creating a “hinging action” that helps keep your bed linens in
            place better than any ordinary mattresses.</p>
    </div>
    <div id="seven">
        <h2>Heating System</h2>
        <p>The heating pad works in concert with your Afloat digital temperature controller on the outside of your bed
            to keep you bed within 1 degree of your preferred temperature.</p>
        <span>Two units included for the Dual models.</span>
        <span>One unit included for Standard models.</span>
    </div>
    <div id="eight">
        <h2>Lower Cover Panel</h2>
        <p>The Lower Cover Panel locks into the perimeter rail system to prevent any shifting over time and allows for
            easier access to unzip the Stretch Knit Top Cover for machine washing.</p>
    </div>
    <div id="nine">
        <h2>Traditional Box Foundation</h2>
        <p>Supports the Afloat mattress assembly and locks into the rail system to prevent any shifting. The insulated
            system inside the foundation also reduces electrical operating costs by up to 40% compared to earlier
            generation waterbeds.</p>
    </div>
    <div id="ten">
        <h2>Heavy-Duty Metal Bed Frame</h2>
        <p>Raises the foundation about 6” above the floor.</p>
    </div>
</div>
